* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    color: #787a7f;
    font-family: "PT Sans", sans-serif;
}

p {
    line-height: 1.8;
}

h1 {
    line-height: 0.5;
    font-size: 3.85em;
    font-family: "Dancing Script", cursive;
}

h3{
    font-size: 1.2em;
    color: #42474c;
}

h4{
    font-size: 1.14em;
    color: #42474c;
}

a{
    text-decoration: none;
    color: inherit;
}

.element_on_hover{
    transition: transform .5s;
    outline:none;
}

.element_on_hover:hover{
    transform: scale(1.2);
}

i{
    color: #d3d5d9;
    font-size: 1.4em;
    padding: 0 15px 0 0;
}

.container {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 5px;
}

/* -------------------HEADER---------------------- */


header {
    background: url("../img/header/background.png") no-repeat center;
    background-size: cover;
}

.header {
    padding: 0 0 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    color: #ffffff;
}

.header_navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.header_navigation li{
    padding: 0 20px;
}

.header_text_block {
    margin: 0 0 30px;
}

.header_main_text {
    font-size: 3.7em;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}

.header_text {
    font-weight: bold;
    font-size: 1.07em;
    position: relative;
}
                /* line made with the pseudo-element ::before */
.header_text::before {
    content: " ";
    position: absolute;
    display: block;
    top: 40%;
    left:0;
    width: 22%;
    height: 2px;
    background-color: #667877;
}
                /* line made with the pseudo-element ::after */
.header_text::after {
    content: " ";
    position: absolute;
    display: block;
    top: 40%;
    right: 0;
    width: 22%;
    height: 2px;
    background-color: #667877;
}
                                /*----button header---*/
.header_button {
    padding: 10px;
    margin: 30px 0 20px 0;
    height: 55px;
    width: 235px;
    border: none;
    border-radius: 50px;
    background-color: #6fc0b0;
    font-size: 1.07em;
    font-weight: bold;
}

/* -------------------MAIN own styles---------------------- */


.section_1 ,
.section_3 ,
.section_5{
    background-color: #eeeeef;
}

.section_2,
.section_4,
.section_6{
    background-color: #f5f5f5;
}

.section_1_content,
.section_2_content,
.section_4_content,
.section_5_content,
.section_6_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section_2_column h3 ,
.section_4_column h4{
    padding: 10px 0;
}
        /* line made with the pseudo-element ::before */
.section_3_content h3::after ,
.section_5_column h3::after ,
.section_6_column h3::after {
    content: " ";
    display: block;
    position: absolute;
    top:130%;
    background-color: #e9e9ea;
    width: 100%;
    /*max-width:;*/
    height: 2px;
}

/* -------------------SECTION 1---------------------- */


.section_1_column{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section_1_column h4{
    position: relative;
}
                                /* line made with the pseudo-element ::before */
.section_1_column h4::after{
    content: " ";
    display: block;
    position: absolute;
    top:170%;
    background-color: #e3e4e5;
    width: 100%;
    height: 2px;
}

/* -------------------SECTION 2---------------------- */


.section_2_column {
    padding: 10px 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.section_2_column >img{
    max-width: 400px;
    width: 100%;
}

.section_2_column h3{
    position: relative;
}

.section_2_column h3::after {
    content: " ";
    position: absolute;
    display: block;
    height: 2px;
    max-width:400px;
    width: 100%;
    top: 110%;
    background-color: #ebebec;
}
                            /*----button green---*/
.section_button {
    padding:0 8px;
    margin: 15px 0;
    border: none;
    border-radius: 50px;
    background-color: #6fc0b0;
    height: 35px;
    width: 100px;
    color: #f5f5f5;
    font-size: 1em;
    font-weight: bold;
}

/* -------------------SECTION 3---------------------- */


.section_3_content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.section_3_content h3{
    position: relative;
}
                            /*----button grey---*/
.section_grey_button {
    padding: 0 8px;
    margin: 15px 0;
    border: none;
    border-radius: 50px;
    background-color: #d3d5da;
    height: 35px;
    width: 100px;
    color: #f5f5f5;
    font-size: 1em;
    font-weight: bold;
}

/* -------------------SECTION 4---------------------- */


.section_4_column{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    text-align: left;
}
.section_4_column img{
    max-width: 300px;
    width:100%;
}

.section_4_column h4{
    position: relative;
}
                /* line made with the pseudo-element ::before */
.section_4_column h4::after {
    content: " ";
    display: block;
    position: absolute;
    top:120%;
    background-color: #ebebec;
    width: 100%;
    height: 2px;
}
                            /*----button link---*/
.section_4_button{
    border: none;
    background: none;
    color: #6fc0af;
    font-size: 1em;
    text-align: left;
    outline: none;
    padding: 0;
}

/* -------------------SECTION 5---------------------- */


.section_5_column{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
    text-align: left;
}

.section_5_column h3{
    position: relative;
}

/* -------------------SECTION 6---------------------- */


.section_6_content .section_6_img{
    width: 100%;
    max-width: 400px;
    padding:25px 10px 0 0;
}

.section_6_img img{
    width: 100%;
    max-width: 400px;
}

.section_6_column{
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.section_6_column h3{
    position: relative;
}

/* -------------------FOOTER---------------------- */


.footer{
    background-color: #6fc0b0;
    color: #f5f5f5;
}

.footer_copyright{
    background-color: #f5f5f5;
}

.container_footer{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    padding: 10px 5px;
}

/* -------------------FOOTER CONTENT---------------------- */

.footer_content{
    padding: 10px 0 50px 0;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
}

.footer_title{
    display: flex;
    align-self: center;
}

.fa-star{
    color: #b7ded7;
    font-size: inherit;
}

.footer_title h4{
    color: #f5f5f5;
    padding: 10px 0;
    position: relative;
}
                /* line made with the pseudo-element ::after */
.footer_title h4::after{
    content: " ";
    display: block;
    position: absolute;
    top: 100%;
    background-color: #7fcabb;
    width: 100%;
    height: 2px;
}

.footer_list{
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

.footer_list_item_1{
    font-size: 1.85em;
    font-family:"Dancing Script", cursive;
}

.footer_list_item_2{
    font-size: 1.85em;
    font-family: "Bubbler One", sans-serif;
}

.footer_list_item_3{
    font-size: 1.85em;
    font-family: "Cabin", sans-serif;
}

.footer_list_item_4{
    font-size: 1.85em;
    font-family: "Barlow Semi Condensed", sans-serif;
}

/* -------------------FOOTER COPYRIGHT---------------------- */


.footer_copyright_content{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
}

.footer_text{
    color: #aaacaf;
}

.footer_links i{
    padding:0 2px;
    text-align: right;
    color: #b4b5b7;
    font-size: 0.8em;
}


@media screen and (min-width: 320px) and (max-width: 600px){

    p{
        text-align: center;
    }
    .container{
        padding: 25px 15px;
    }

    .header{
        padding: 0;
    }

    .header_navigation li{
        padding:0 8px;
    }
    .header_main_text{
        padding: 0 30px ;
        font-size: 2.8em ;
    }

    .header_text{
        padding: 0 10px;
        font-size:1em;
    }


    /* line made with the pseudo-element ::before */
    .header_text::before {
        content: " ";
        position: absolute;
        display: block;
        top: 40%;
        left:0;
        width: 10%;
        height: 2px;
        background-color: #667877;
    }

    /* line made with the pseudo-element ::after */
    .header_text::after {
        content: " ";
        position: absolute;
        display: block;
        top: 40%;
        right: 0;
        width: 10%;
        height: 2px;
        background-color: #667877;
    }

    .section_1_content,
    .section_2_content,
    .section_3_content,
    .section_4_content,
    .section_5_content,
    .section_6_content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
    }

    .section_3_content{
        padding:10px;
    }

    .section_2_column,
    .section_3_content,
    .section_4_column,
    .section_5_column,
    .section_6_column,
    .section_6_img{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .section_4_column{
        padding:15px 10px;
    }

    .section_4_button{
        margin: 10px 0;
    }

    .section_6_img{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .footer,
    .footer_copyright{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer_content{
        padding: 0;
    }

    .footer_list{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px){

    body{
        font-size:18px;
    }

    .container{
        max-width: 1000px;
        width:100%;
    }

    .section_1_column,
    .section_2_column,
    .section_3_content,
    .section_4_column,
    .section_5_column,
    .section_6_column,
    .section_6_img{
        padding:10px 40px;
    }

    .section_button,
    .section_grey_button{
        padding:0 10px;
        height: 42px;
        width: 120px;

    }

    .header_button{
        padding:12px;
        height: 66px;
        width: 282px;
    }

    .container_footer{
        margin: 0 auto;
        width: 100%;
        max-width:1000px;
        padding: 12px 8px;
    }

}